@media (width <= 450px) {
  .hide-sm {
    display: none;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 0.125rem;
}

body {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
}

.home-link {
  text-decoration: none;
  color: currentColor;

  &:hover {
    text-decoration: underline;
  }
}

.all-results {
  display: grid;
  gap: 2rem;
  justify-items: center;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.visualizations {
  text-align: center;
  margin-bottom: 2rem;
}

main {
  display: grid;
  justify-items: center;
}

main.error-page {
  display: grid;
  gap: 1rem;

  h1 {
    margin: 0;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
  }

  .error-box {
    border: 1px solid darkred;
    border-radius: 0.25rem;
    padding: 1rem;
  }
}

.fw-info {
  display: grid;
  justify-items: center;
  text-decoration: none;
  color: currentColor;
  max-height: 50px;

  &:hover {
    text-decoration: underline;
  }

  img {
    max-width: 32px;
    max-height: 32px;
  }
  span {
    font-size: 0.8rem;
  }
}

table {
  th, td {
    padding: 0.25rem 0.5rem;
  }
}
